{layout name="layoutnomenu" /}
<div style="background-color:#fff;height:100%;">
			<div class="panel-body">
				<div class="mar-ver text-center">
					<img src="__IMAGES__/logo.png"/>
					<img src="__IMAGES__/jobtone.png"/>
				</div>
				<div class="mar-all" style="margin-top:3em;">
					<div class="row">
						<label class="col-xs-4 control-label text-right mar-top">
							手机号码：
						</label>
						<div class="col-xs-8">
							<input type="number" class="form-control input-lg " name="tel" id="tel" placeholder="手机号码">
						</div>
					</div>
				</div>
				<div class="mar-all">
					<div class="row">
						<label class="col-xs-4 control-label text-right mar-top">
							验证码：
						</label>
						<div class="col-xs-5 text-left">
							<input type="number" class="form-control input-lg " name="yzminput" id="yzminput" placeholder="验证码">
						</div>
						<div class="col-xs-3 text-left  text-primary yzm" >
							<button class="btn text-bold" id="yzm">获取验证码</button>
						</div>
					</div>
				</div>
				<div class="mar-all">
					<div class="row">
						<label class="col-xs-4 control-label text-right mar-top">
							用户密码：
						</label>
						<div class="col-xs-8">
							<input type="password" class="form-control input-lg " name="password" id="password" placeholder="请输入您的密码">
						</div>
					</div>
				</div>
				<div class="mar-all">
					<div class="row">
						<label class="col-xs-4 control-label text-right mar-top">
							密码确认：
						</label>
						<div class="col-xs-8">
							<input type="password" class="form-control input-lg " name="password2" id="password2" placeholder="请再次输入您的密码">
						</div>
					</div>
				</div>
				<div class="mar-all" style="margin:2em 3em;">
					<button class="btn btn-block btn-warning btn-rounded pad-ver mar-btm" id="submit">马上注册</button>
				</div>
			</div>
</div>
<script>
$(function(){
	$('#submit').attr("disabled", true); 
	$("#yzminput").bind('input porpertychange',function(){
		var code=$("#yzminput").val();
		if(code.length==4){
			$('#submit').attr("disabled", false); 
		}else{
			$('#submit').attr("disabled", true); 
		}
	});
});
$('#yzm').click(function(){
	var mobile   = $("#tel").val();
	if(mobile.length==11){
		$.post("{:url('Sms/send_code')}",{mobile:mobile},function(data){
			if(data.status==1){
				layer.msg(data.msg,function(){
					var wait = 60;
			        $("#yzm").text((--wait) + "秒后重发").attr("disabled", true);
			        var time_line = setInterval(function(){
			          if(wait == 0){
			        	  $("#yzm").text("获取验证码").attr("disabled", false);;
			              return clearInterval(time_line);
			          }else{
			        	  $("#yzm").text((--wait) + "秒后重发").attr("disabled", true); 
			          }
			        },1000);
				});
			}else{
				layer.alert(data.msg);
			}
		})
	}else{
		layer.msg('您输入的手机号码有误');
	}
})
$('#submit').click(function(){
	var mobile=$("#tel").val();
	var code=$('#yzminput').val();
	var password=$('#password').val();
	$.post("{:url('passport/regdo')}",{mobile:mobile,code:code,password:password,invite:"{$invite}"},function(data){
		if(data.status==1){
			layer.msg(data.msg,function(){
				location.href="{:url('passport/inviteok')}"				
			})
		}else{
			layer.msg(data.msg);
		}
	})
})
</script>