{layout name="layout" /}
<div class="row">
	<div class="col-xs-6 col-md-6 col-lg-6">
		<div class="panel">
			<div class="panel-body">
				<div class="pad-btm form-inline">
					<div class="row">
						<div class="col-sm-6 table-toolbar-left">
							<button class="btn btn-purple add">
								<i class="ion-plus-circled icon-fw"></i>添加
							</button>											
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table ">
						<thead>
							<tr>
								<th>菜单名称</th>
								<th>权限</th>												
								<th class="text-center">操作</th>
							</tr>
						</thead>
						<tbody>
							{volist name="leftMenu" id="v"}
								<tr id="tr{$v.id}" class="list-group-item-dark">
									<td>{$v.name}</td>
									<td>
										{eq name="v.rule" value="1"}管理员{/eq}
										{eq name="v.rule" value="2"}业务{/eq}
										{eq name="v.rule" value="4"}商家{/eq}
									</td>												
									<td class="text-center">
										<button class="btn btn-warning edit" data-id="{$v.id}"><i class="ion-edit icon-fw"></i>修改</button>
										<button class="btn btn-danger del" data-id="{$v.id}"><i class="ion-close-round icon-fw"></i>删除</button>
									</td>
								</tr>
								{volist name="v.son" id="vs"}
									<tr id="tr{$vs.id}">
										<td style="padding-left:2em;">├─{$vs.name}</td>
										<td>
											{eq name="vs.rule" value="1"}管理员{/eq}
											{eq name="vs.rule" value="2"}业务{/eq}
											{eq name="vs.rule" value="4"}商家{/eq}
										</td>												
										<td class="text-center">
											<button class="btn btn-warning edit" data-id="{$vs.id}"><i class="ion-edit icon-fw"></i>修改</button>
											<button class="btn btn-danger del" data-id="{$vs.id}"><i class="ion-close-round icon-fw"></i>删除</button>
										</td>
									</tr>
								{/volist}
							{/volist}										
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
	
<script>
	$('.del').click(function(){		
		var id=$(this).attr('data-id');
		$.post("{:url('Leftmenu/del')}",{id:id},function(data){
			if(data.status==1){
				layer.alert(data.msg,function(){
					$('#tr'+id).remove();
				});				
			}else{
				layer.msg(data.msg);
			}
		})
	})
</script>