<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>管理后台</title>
<link href="__CSS__/bootstrap.min.css" rel="stylesheet">
<link href="__CSS__/nifty.min.css" rel="stylesheet">
<link href="__PLUGINS__/magic-check/css/magic-check.min.css" rel="stylesheet">

<script src="__JS__/jquery-2.2.4.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/nifty.min.js"></script>
<link href="__PLUGINS__/ionicons/css/ionicons.min.css" rel="stylesheet">
<script src="__PLUS__/Layer/layer.js"></script>
<script src="__PLUS__/template.js"></script>

</head>
<body>
	